.team {
    display: flex;
    margin-left: 5%;
  }
  .koyo {
    margin-left: 5%;
  }
  .virgy {
    margin-left: 6%;
  }
  .mitchie {
    margin-left: 8%;
  }
  .nancy {
    margin-left: 5%;
  }
  .ourteam {
    margin-top: -20%;
    margin-left: 30%;
  }

  @media screen and (max-width: 992px){
.team{
  display: inline;
}
  }
  @media screen and (max-width: 600px){
    .team{
      display: inline;
    }
  }